# Predicting Economies Using World Bank Datasets

Sean McSkeane, Albert Chu, Sonny Liu

## Introduction

Write brief introduction here. Should define some of the terms we will be using GDP.

## Libraries

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn import model_selection
from statsmodels import api as sm

## Data Collection

For the purposes of this project, we used data from the World Bank dataset. The World Bank site allowed for us to build a custom dataset by choosing the variables that we wanted. We chose to include variables that we thought could be used a predictors of GDP. We purposely chose more variables than we planned on using as we were unsure of the quality of the data, and which variables were missing values.

In [25]:
worldBankDevInc = pd.read_csv("dataExtractFromWorldDevelopmentIndicators/data.csv")
worldBankDevInc.dropna(inplace=True)
worldBankDevInc.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,42.7,43.2220189082037,69.1,70.1534805297852,89.5,71.5,97.7,97.7,..,..
1,Afghanistan,AFG,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,..,..,..,...,13930447062.0795,15584208613.716,17287683729.9852,17779146289.3555,17682396266.0887,17285140982.1924,16482932351.9102,16916992771.6571,..,..
2,Afghanistan,AFG,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Afghanistan,AFG,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Afghanistan,AFG,Bank capital to assets ratio (%),FB.BNK.CAPA.ZS,..,..,..,..,..,..,...,..,8.24541177115674,7.62597903791835,11.6381513220985,11.8674762151377,9.23269367587705,11.4370971722688,11.688169673188,..,..

In [6]:
worldBankDevInc.describe()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
count,16898,16896,16896,16896,16896,16896,16896,16896,16896,16896,...,16896,16896,16896,16896,16896,16896,16896,16896,16896,16896
unique,266,264,64,64,1998,2019,2016,2032,2052,2210,...,9305,9328,9467,9367,9557,9374,9125,7969,4301,935
top,Togo,IDA,People using safely managed drinking water ser...,SP.RUR.TOTL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,64,64,264,264,14773,14788,14786,14778,14756,14566,...,6592,6621,6455,6577,6359,6568,6885,8043,12102,15742

## Data Processing

## Exploratory Analysis and Data Visualization

## Analysis, Hypothesis Testing, and Machine Learning

## Insight and Policy Decision